// fonts
$font-Dosis: 'Dosis', sans-serif;
$font-Roboto: 'Roboto Condensed', sans-serif;
$font-size: 14px;
$line-height:22px;


$font-100:100;
$font-200:200;
$font-300:300;
$font-400:400;
$font-500:500;
$font-600:600;
$font-700:700;


// colors
$red:#e74c3c;

// Custom Color
$primary:$red;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1200px
) !default;
